@model List<PlayHarmoniez.Models.Song>

<!-- Sidebar/menu -->
@await Html.PartialAsync("~/Views/Shared/_Navbar_Admin.cshtml");

<div class="card text-white bg-dark mb-3"
     style="margin-left:20%;">
    <div class="image-container" style="max-width:200px;max-height:200px">
        <img src=" @((string)ViewContext.TempData["albumCover"])">
    </div>
    <div style="font-size: 24px">
        @((string)ViewContext.TempData["albumName"])
    </div>
    <div>
        @((string)ViewContext.TempData["albumAuthor"])
    </div>
    <div>
        @((DateTime)ViewContext.TempData["albumRelease"])
    </div>
    <div>
        @((string)ViewContext.TempData["albumDesc"])
    </div>
</div>

@foreach (var song in Model)
{
    <div class="card text-white bg-dark mb-3" style="max-width: 75rem; max-height: 20rem;margin-left:20%">
        <div class="song-container">
            <img vlass="image-container" src=@song.ImageFile.ToString() style="width:150px;height:150px;">
            <div class="song-info">
                <h3 class="song-title">Title:@song.Title</h3>
                <p class="song-author">Author:@song.Author</p>
                <p class="song-author">Published Data:@song.PublishData.ToShortDateString()</p>
                <p class="song-author">Description:@song.Description</p>
            </div>
            <audio class="song-audio" controls>
                <source src=@song.SoundFile.ToString() type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <div class="btn btn-primary btn-lg">
                <a href="~/Song/UpdateSong/@song.Id">Modify</a>
            </div>
        </div>
    </div>
}
