@model List<PlayHarmoniez.Models.Song>

<!-- Sidebar/menu -->
@await Html.PartialAsync("~/Views/Shared/_Navbar_User.cshtml");

<div class="card text-white bg-dark mb-3" style="margin-left:20%">
    <div style="font-size: 24px">
        @((string)ViewContext.TempData["PlaylistName"])
    </div>
    <div>
        @((string)ViewContext.TempData["PlaylistDesc"])
    </div>
</div>
@foreach (var song in Model)
{

    <div class="card text-white bg-dark mb-3" style="max-width: 75rem; max-height: 20rem;margin-left:20%">
        <div class="song-container">
            <img class="image-container" src=@song.ImageFile.ToString() style="width:150px;height:150px;">
            <div class="song-info">
                <h3 class="song-title">@song.Title</h3>
                <p class="song-author">@song.Author</p>
                <p class="song-author">@song.PublishData.ToShortDateString()</p>
                <p class="song-author">@song.Description</p>
            </div>
            <audio class="song-audio" controls>
                <source src=@song.SoundFile.ToString() type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <!--Add to another playlist-->
            <a class="circle-button-link" href="@Url.Action("PassSongId","Song",new{songId=@song.Id})">
                <img src="https://cdn4.iconfinder.com/data/icons/media-buttons/512/add-1024.png"
                     alt="Add to Playlist"
                     title="Add to Playlist">
            </a>
            <!--Remove from playlist-->
            <a class ="circle-button-link" href="@Url.Action("RemoveFromPlaylist","Song",new{songId=@song.Id,playlistId=(int)ViewContext.TempData["playlistId"]})">
                <img src="https://cdn1.iconfinder.com/data/icons/bold-purple-part1/32/83_Remove_Circle_Minus_Delete-128.png"
                     alt="Remove from Playlist"
                     title="Remove from Playlist">
            </a>
        </div>
    </div>
}



