@model List<PlayHarmoniez.Models.Song>

<!-- Sidebar/menu -->
@await Html.PartialAsync("~/Views/Shared/_Navbar_User.cshtml");
@foreach (var song in Model)
{

    <div class="card text-white bg-dark mb-3" style="max-width: 75rem; max-height: 20rem;margin-left:20%">
        <div class="song-container">
            <img vlass="song-cover" src=@song.ImageFile.ToString() style="width:150px;height:150px;">
            <div class="song-info">
                <h3 class="song-title">@song.Title</h3>
                <p class="song-author">@song.Author</p>
                <p class="song-author">@song.PublishData.ToString("yyyy-mm-dd")</p>
                <p class="song-author">@song.Description</p>
            </div>
            <audio class="song-audio" controls>
                <source src=@song.SoundFile.ToString() type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a class="circle-button-link" href="@Url.Action("PassSongId","Song",new{songId=@song.Id})">
                <img src="https://cdn4.iconfinder.com/data/icons/media-buttons/512/add-1024.png"
                     alt="Add to Playlist"
                     title="Add to Playlist">
            </a>
            <a href="DeleteLikedSong/@song.Id" class="circle-button-link">
                <img src="https://cdn3.iconfinder.com/data/icons/love-and-marriage-5/64/_Broken_Heart-512.png"
                     alt="Remove from Favorites"
                     title="remove from favorites">
            </a>
        </div>
    </div>
}


