@model Song

@{
    SelectList itemList = ViewBag.ItemList;
}

<!-- Sidebar/menu -->
@await Html.PartialAsync("~/Views/Shared/_Navbar_Admin.cshtml");
<div style="margin-left:20%">
<h1> Add Song </h1>
<form method="post" action="AddSong" class="mt-5" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="" class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="@Model.Title" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Author</label>
        <input type="text" class="form-control" asp-for="@Model.Author" />
    </div>
    <div class="mb-3">
            <label for="" class="form-label">Album (if it is not on the list, please go to Albums and create one)</label>
            @Html.DropDownListFor(model => model.AlbumId, itemList, "Select an item")
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Release date</label>
        <input type="date" class="form-control" asp-for="@Model.PublishData" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="@Model.Description" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Image file</label>
        <input type="file" name="imageFile" class="form-control" asp-for="@Model.ImageFile" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Sound file</label>
        <input type="file" name = "soundFile" class="form-control" asp-for="@Model.SoundFile" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>