@model List<PlayHarmoniez.Models.Song>
<!--Need to find way to show title of the corresponding album id-->
<!--Paths not working, idk why-->
<!--Does not work even with the full path-->
<!--NU VREA AUDIO SA MEARGA. efectiv ar trebui sa fie si compatibil si file path ul l am incercat in toate modurile
    efectiv nu stiu ce are dar sper ca reusim sa l facem sa mearga ca nu stiu ce alta metoda sa folosesc pt play audio
-->
<!--Needs to somehow be bound so that user can search for a particular song-->
<!--Not a necessary feature-->
<form class="d-flex">
    <input class="form-control me-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
<a href="AddSong">Would you like to add a song?</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publish Date</th>
            <th scope="col">Description</th>
            <th scope="col">Audio</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <div class="card text-white bg-info mb-3" style="max-width: 22rem;">
                <div class="card-header"> </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <p class="card-text"> ImageFilePath : @song.ImageFile.ToString()</p><!--This is for testing-->
                        <img src=@song.ImageFile.ToString() style="width:40px;height:40px;">
                    </h5>
                    <h5 class="card-title">Title : @song.Title</h5>
                    <h5 class="card-title">Author : @song.Author</h5>
                    <h5 class="card-title">Publish Date @song.PublishData.ToString("yyyy-mm-dd")</h5>
                    <p class="card-text"> Description : @song.Description</p>
                    <p class="card-text"> SoundFilePath : @song.SoundFile.ToString()</p><!--This is for testing-->
                    <audio controls>
                        <source src=@song.SoundFile.ToString() type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        }

    </tbody>
</table>

